
@media screen and (min-width:768px) {
    #ficha{
        grid-column: 1;
        grid-row: 1/2;
      height: fit-content;
      position: sticky;
      top: 65px;
    margin-left: 8px;
    }
    .skill-container{
        grid-template-columns: auto auto;
    }
    main{
        grid-template-columns: 1fr 70vw auto;
    }
     
    .fundo-pro2 div{
        display: flex;
        flex-flow: row-reverse nowrap;
        gap: 10px;
    }

    div .texto{
        display: flex;
        flex-flow: column nowrap;
         flex-basis: 590px;
         text-align: justify;
    }
   

   
}