
@media screen and (min-width:768px) {
    #ficha{
        grid-column: 1;
        grid-row: 1/3;
    }
    .skill-container{
        grid-template-columns: auto auto;
    }
    main{
        grid-template-columns: auto 70vw auto;
    }
     
    .fundo-pro2 div{
        display: flex;
        flex-flow: row-reverse nowrap;
    }
    
    div .texto{
        display: flex;
        flex-flow: column nowrap;
         flex-basis: 590px;
         text-align: justify;
    }
   

   
}